html {
    height: 100%;
}

body {
    background: #eaeae8;
    margin: 0;
    padding: 0;
    height: 100%;
}

#outer{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

.grid {
    width: 9.08%;
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
}

.hidden {
    /*
    border-color: #000;
    border-top-width: 1px;
    border-left-width: 1px;
    */
    display: block;
    width: 80%;
    height: 80%;
    margin-top: 9%;
    margin-left: 9%;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: #ddd;
}

.centered {
    text-align: center;
}

a, a:visited {
    color: #000;
}

a:hover {
    color: #fdd382;
}

#form_outer{
    display: table;
    width: 100%;
    height: 100%;
}

#form_inner{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.content {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}