{% extends "site_base.html" %}

{% load staticfiles %}

{% block content %}
    <div id="form_outer">
        <div id="form_inner">
            <div class="content">
                {% if error_message %}<p><strong>{{error_message}}</stong></p>{% endif %}
                <form action="{% url 'index' %}" method="post">{% csrf_token %}
                    Please enter your given code: <br />
                    {{form.code.errors}}{{form.code}} 
                    <input type="submit" value="Submit" />
                </form>
                <p>Or click <a href="{% url 'main' %}">here</a> to see the currently revealed drawings.
            </div>
        </div>
    </div>
{% endblock content %}