{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="keywords" content="art, drawing, birthday">
        <meta name="Description" content="Open source Django aritst portfolio framework">

        <title>Birthday Drawings</title>

        <!-- CSS Includes -->
        <link href="{% static "css/hammond.css" %}" rel="stylesheet">

    </head>
    <body>


    {% block content %}
    {% endblock content %}

    </body>
</html>
